APP_PORT=8080
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=otp_jwt_db
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DSN=host=postgres user=postgres password=postgres dbname=otp_jwt_db port=5432 sslmode=disable TimeZone=UTC
REDIS_ADDR=redis:6379
